*{
	 padding:0PX;
	 margin: 0px;	
}
header{
	
	background:#1abc9c;
	background-size:20px;
	float:center;
	font-size:45px;
	padding:5%;
	margin:2%;
	font-family: "Segoe UI", Georgia, Serif;
	text-align:center;
}
#outer{
		 	border: solid black 1px;
		 	height: 30px;
		 	width: 500px;
		 }
		 #inner{
		 	background-color: orange;
		 	height: 30px;
		 	/*position: relative;*/
		 }
#btn{
	 
	 font-size:40px;
	 padding:1%;
	 margin-left:10%;
	 margin-top:5%;
	 border-radius:14px;
	 display: inline-block;
     opacity: 0.7;
     background-color:black;
     border: none;
     color:white;
     text-align:center;
     width: 275px;
	 height: 100px;
     transition: all 0.5s;
     cursor: pointer;	 
 }
  #btn:hover{
	 
	 
	 background-color:silver;
	 color: black;

	 
 }
 #menu{
	 
	 font-size:35px;
	 text-align:center;
	 
	 
	 
	
}
#menu a{
	
	
	color:black;
	font-family: "Segoe UI", Georgia, Serif;
	padding:10px;
	
	
	
}
#menu a:hover{
	 
	 
	 
	 color: green;

	 
 }
#form{
	margin-top:5%;
	margin-left: 18%;
	padding-top:2%;
	float:left;
    font-size:18px; 
}
  input[type=text] {
    width:400px;
	height:50px;
    text-align:center;
    box-sizing: border-box;
	font-size:25px;
	border: 2px solid #ccc;
    border-radius: 4px;
	}
	input[type=option] {
    width:400px;
	height:50px;
    text-align:center;
    box-sizing: border-box;
	font-size:25px;
	border: 2px solid #ccc;
    border-radius: 4px;
	}
#submit{
	
	font-size:30px;
	padding:1%;
	 margin:2%;
	 border-radius:14px;
	 display: inline-block;
     opacity: 0.7;
     background-color: #6669AB;
     border: none;
     color: #FFFFFF;
     text-align: center;
     width: 200px;
	 height: 80px;
     transition: all 0.5s;
     cursor: pointer;
	
	
}
 #p1{
	 padding-left:12px;

 }
 #p1:hover{
	 color: white;
	 cursor: pointer;
	 
 }
  #p2:hover{
	 color: white;
	 cursor: pointer;
	  
 }
#events{
    width: 40%;
    height: 200px;
    border: 1px solid green;
}
#schedule{
  margin-left:60%;
  
  
}
th{
	
	padding:20px;
}

 #menu3{
	 
	 font-size:35px;
	 text-align:left;
	 
	 
	 
	
}
#menu3 a{
	
	
	color:black;
	font-family: "Segoe UI", Georgia, Serif;
	padding:10px;
	
	
	
}
#menu3 a:hover{
	 
	 
	 
	 color: green;

	 
 }
 form{
	 
	 
 }
